@import "costome_colors.scss";

section#first__contacts{
	.main__content{
		padding-top: 60px;
		padding-bottom: 60px;
		@media screen and (max-width: 767px) {
			padding-bottom: 30px;
		}
		.container{
			position: relative;
			.list__one{
				left: -370px;
				top: 120px;
			}
			.list__fourth{
				right: -300px;
				bottom: 120px;
			}
		}
		h2{
			letter-spacing: 0.02em;
			text-align: center;
		}	
	}
	.contacts__content{
		margin-left: 40px;
		margin-top: 60px;
		.contacts__item{
			margin-top: 45px;
			h3{
				letter-spacing: 0;
			}
			.contacts__info{
				//margin-top: 20px;
				font-size: 18px;
				font-weight: 400;
				color:$link_color;
				margin-top: 45px;
				line-height: 1.5em;
				a{
					padding-left: 45px;
					font-size: 18px;
					font-weight: 400;
					color:$link_color;
					position: relative;
					&:before{
						position: absolute;
						content:'';
						display: block;
						bottom: -8px;
						left: 0;
						background-size: cover;
					}
				}
			}
			&:nth-child(1){
				.contacts__info{
					a{
						&:before{
							background: url(../img/icons/contacts_phone_1.png) center center no-repeat;
							width: 27px;
							height: 26px;
						}
					}
				}
			}
			&:nth-child(2){
				.contacts__info{
					a{
						&:before{
							bottom: 0;
							background: url(../img/icons/contact_mail.png) center center no-repeat;
							width: 26px;
							height: 26px;
						}
					}
				}
			}
			&:nth-child(3){
				.contacts__info{
					position: relative;
					padding-left: 45px;
					&:before{
						position: absolute;
						content:'';
						display: block;
						bottom: 0px;
						left: 0;
						background-size: cover;
						top: 50%;
						transform: translateY(-50%);
						background: url(../img/icons/contacts_map.png) center center no-repeat;
						width: 19px;
						height: 26px;
					}
				}
			}
		}
	}
	.contacts__form{
		margin-left: 40px;
		margin-top: 60px;
		h3{
			letter-spacing: 0;
			padding-left: 60px;
			position: relative;
			&:before{
				position: absolute;
				content:'';
				display: block;
				background: url(../img/icons/contacts_phone.png) center center no-repeat;
				background-size: cover;
				width: 41px;
				height: 41px;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		.order{
			#name{
				margin-top: 40px;
			}
			input{
				width: 100%;
				height: 40px;
				border-radius: 5px;
				border: 1px solid #93959A;
				line-height: 40px;
				padding-left: 13px;
				color: #93959A;
				font-size: 16px;
				//opacity: 0.36;
				margin-top: 15px;
				&:hover, &:focus, &:active{
					border: 1px solid #000;
				}
			}
			.btn__yellow{
				margin-top: 40px;
				width: 220px;
			}
		}
	}
	.contact__people{
		margin-top: 60px;
		.people__item{
			.item__wrapper{
				text-align: center;
				padding: 50px 20px;
				box-shadow: 8px 8px 29px rgba(0,0,0,0.1);
				.item__img{
					display: inline-block;
					width: 172px;
					height: 172px;
				}
				.item__fio{
					letter-spacing: 0;
					margin-top: 30px;
					font-size: 18px;
					font-weight: 700;
					text-transform: uppercase;
					p{
						letter-spacing: 0;
						margin-top: 19px;
						font-size: 14px;
						font-weight: 400;
						font-style: italic;
						text-transform: none;
					}
				}
				.item__mail{
					margin-top: 35px;
					font-weight: 300;
					font-size: 14px;
					letter-spacing: -0.05em;
					line-height: 1.7em;
					a{
						font-size: 16px;
						font-weight: 400;
						letter-spacing: -0.05em;
						color: $link_color;
					}

				}
			}
			&:nth-child(2){
				.item__wrapper{
					.item__mail{
						margin-top: 16px;
					}
				}
			}
			&:nth-child(4){
				.item__wrapper{
					.item__mail{
						margin-top: 16px;
					}
				}
			}
		}
	}
}

section#map{
	padding-bottom: 60px;
	text-align: center;
	@media screen and (max-width: 767px) {
		padding-bottom: 30px;
	}
	.map__yandex{
		display: block;
		width: 100%;
	}
}