@import "costome_colors.scss";

section#first__for_pharmacies{
	padding-bottom: 60px;
	.section__caption{
		background:#FAFAFA;
		padding-bottom: 123px;
		padding-top: 60px;
	}
	h2{
		span{
			font-size: 30px;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: -0.01em;
		}
	}
	.tabs{
		.container{
			position: relative;
			.list__one{
				z-index:3;
				top: -60px;
				left: -360px;
			}
			// .list__two{
			// 	z-index:3;
			// 	bottom: -395px;
			// 	right: -100px;
			// }
			.list__third{
				top: 400px;
				right: -455px;
			}
			// .list__fourth{
			// 	top: 1550px;
			// 	left: -300px;
			// 	transform: rotate(0deg);
			// }
			.list__seven{
				top: 120px;
				right: -220px;
				display: none;
			}
			.list__eight{
				top: -70px;
				right: -320px;
				display: none;
			}
			.tabs__caption{
				li{
					letter-spacing: 0;
				}
			}
		}
		#about_2{
			.caption{
				padding-left: 40px;
				&:before{
					content:'';
					top: 50%;
					transform: translateY(-50%);
					left: 0;
					display: block;
					position: absolute;
					width: 29px;
					height: 37px;
					background: url(../img/icons/producer_6.png) center center no-repeat;
					background-size: cover;
				}
			}
		}
		.tabs__content{
			.about__caption{
				display: none;
			}
			margin-top: 60px;
			.caption{
				padding-left: 85px;
				position: relative;
				&:before{
					content:'';
					top: 50%;
					transform: translateY(-50%);
					left: 0;
					display: block;
					position: absolute;
					width: 58px;
					height: 58px;
					background: url(../img/icons/formacies_1.png) center center no-repeat;
					background-size: cover;
				}
			}
			.target{
				margin-top: 65px;
			}
			.advantages{
				.advantages__item{
					margin-right: 85px;
					display: inline-block;
					margin-top: 100px;
					.advantages__caption{
						position: relative;
						font-size: 20px;
						padding-left: 25px;
						letter-spacing: 0;
						.number{
							display: inline-block;
							bottom: 40px;
							left: -8px;
							position: absolute;
							color: #009447;
							opacity: 0.4;
							font-size: 135px;
							font-weight: 700;
						}
					}
				}
			}
			.turnover{
				background: url(../img/formacies_fon.jpg) center center no-repeat;
				background-size: cover;
				background-attachment: fixed;
				padding-bottom: 60px;
				padding-top: 60px;
				text-align: center;
				margin-top: 60px;
				h3{
					color: #fff;
					text-align: center;
				}
				.btn__yellow{
					font-size: 15px;
					font-weight: 700;
					letter-spacing: -0.05em;
					width: 190px;
					//margin-top: 30px;
					margin-left: 20px;
					&:nth-child(1){
						margin-left: 0;
					}
				}
			}
			.exhortation__caption{
				margin-top: 60px;
			}
			.plushki{
				.plushki__item{
					text-align: center;
					.item__img{
						margin-top: 40px;
						height: 105px;
						img{
							display: inline-block;
						}
					}
				}
			}

			// .advantages{
			// 	position: relative;
			// 	display: inline-block;
			// 	.advantages__item{
			// 		.item__wrapper{
			// 			margin-top: 100px;
			// 			.advantages__caption{
			// 				position: relative;
			// 				font-size: 20px;
			// 				padding-left: 25px;
			// 				letter-spacing: 0;
			// 				.number{
			// 					display: inline-block;
			// 					bottom: 40px;
			// 					left: -8px;
			// 					position: absolute;
			// 					color: #5da5bf;
			// 					opacity: 0.3;
			// 					font-size: 135px;
			// 					font-weight: 700;
			// 				}
			// 			}
			// 			.advantages__text{
			// 				margin-top: 30px;
			// 				letter-spacing: -0.01em;
			// 			}
			// 		}
			// 	}
			// }
			// .exhortation{
			// 	margin-top: 40px;
			// 	letter-spacing: 0;
			// }
			// &:nth-child(3){
			// 	.caption{
			// 		padding-left: 45px;
			// 		&:before{
			// 			background: url(../img/icons/producer_6.png) center center no-repeat;
			// 			width: 29px;
			// 			height: 37px;
			// 		}	
			// 	}
			// }
			&:nth-child(4){
				.caption{
					padding-left: 80px;
					&:before{
						background: url(../img/icons/producer_7.png) center center no-repeat;
						width: 60px;
						height: 53px;
					}	
				}
			}
			.partners{
				margin-top: 40px;
				span{
					font-size: 16px;
					font-weight: 700;
				}
			}
			.marketing__wraper{
				margin-top: 30px;
				.marketing__activity{
					margin-right: 40px;
					vertical-align: top;
					display: inline-block;
					// margin-top: 30px;
					.item{
						padding-left: 20px;
						position: relative;
						&:before{
							position: absolute;
							content:'';
							width: 6px;
							height: 6px;
							background: #009246;
							left: 4px;
							top: 50%;
							transform: translateY(-50%);
							border-radius: 50%;
						}
					}
					&:nth-child(2){
						margin-right: 0;
					}	
				}
			}
			.btn__yellow{
				width: 150px;
				margin-top: 30px;
				margin-right: 20px;
				font-size: 15px;
				font-weight: 700;
				&:nth-child(2){
					margin-right: 0;
				}
			}
			.presentation{
				margin-top: 45px;
				display: inline-block;
				.presentation_items{
					margin-right: 10px;
					padding-left: 40px;
					position: relative;
					&:before{
						position: absolute;
						content:'';
						width: 6px;
						height: 6px;
						background:#009246;
						border-radius: 50%;
						top: 50%;
						transform: translateY(-50%);
						left: 25px;
					}
				}
			}
			&:nth-child(4){
				.btn__yellow{
					margin-top: 30px;
					margin-left: 35px;
					font-size: 15px;
					font-weight: 700;
					width: 230px;
					letter-spacing: 0;
				}
			}
		}	
		.contacts__form{
			text-align: center;
			margin-left: 40px;
			margin-top: 60px;
			.contacts__form__img{
				display: inline-block;
				margin-bottom: 35px;
			}
			h3{
				letter-spacing: 0;
				text-align: center;
			}
			.order{
				#name{
					margin-top: 40px;
				}
				input{
					width: 100%;
					height: 40px;
					border-radius: 5px;
					border: 1px solid #93959A;
					line-height: 40px;
					padding-left: 13px;
					color: #93959A;
					font-size: 16px;
					//opacity: 0.36;
					margin-top: 15px;
					&:hover, &:focus, &:active{
						border: 1px solid #000;
					}
				}
				.btn__yellow{
					margin-top: 40px;
					width: 220px;
				}
			}
		}
		#about_4{
			.caption{
				letter-spacing: 0;
				padding-left: 0;
				&:before{
					content: none;
				}
			}
		}
		.contacts__content{
			margin-left: 40px;
			margin-top: 140px;
			.contacts__item{
				margin-top: 45px;
				h3{
					letter-spacing: 0;
				}
				.contacts__info{
					//margin-top: 20px;
					font-size: 18px;
					font-weight: 400;
					color:$link_color;
					margin-top: 45px;
					line-height: 1.5em;
					a{
						padding-left: 45px;
						font-size: 18px;
						font-weight: 400;
						color:$link_color;
						position: relative;
						&:before{
							position: absolute;
							content:'';
							display: block;
							bottom: -8px;
							left: 0;
							background-size: cover;
						}
					}
				}
				&:nth-child(1){
					.contacts__info{
						a{
							&:before{
								background: url(../img/icons/contacts_phone_1.png) center center no-repeat;
								width: 27px;
								height: 26px;
							}
						}
					}
				}
				&:nth-child(2){
					.contacts__info{
						a{
							&:before{
								bottom: 0;
								background: url(../img/icons/contact_mail.png) center center no-repeat;
								width: 26px;
								height: 26px;
							}
						}
					}
				}
				&:nth-child(3){
					.contacts__info{
						position: relative;
						padding-left: 45px;
						&:before{
							position: absolute;
							content:'';
							display: block;
							bottom: 0px;
							left: 0;
							background-size: cover;
							top: 50%;
							transform: translateY(-50%);
							background: url(../img/icons/contacts_map.png) center center no-repeat;
							width: 19px;
							height: 26px;
						}
					}
				}
			}
		}
	}
}