<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-5 col-xs-9">
				<ul class="footer__menu">
					<li class="menu__item">
						<a href="about.html">О нас</a>
					</li>
					<li class="menu__item">
						<a href="for_pharmacies.html">Для аптек</a>
					</li>
					<li class="menu__item">
						<a href="for_producers.html">Для производителей</a>
					</li>
					<li class="menu__item">
						<a href="for_formates.html">Для Фармацевтов и провизоров</a>
					</li>
				</ul>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-3">
				<ul class="footer__menu footer__menu__two">
					<li class="menu__item">
						<a href="news_1.html">Новости</a>
					</li>
					<li class="menu__item">
						<a href="events.html">Мероприятия</a>
					</li>
					<li class="menu__item">
						<a href="contacts.html">Контакты</a>
					</li>
					<li class="menu__item">
						<a href="#">Обучение</a>
					</li>
				</ul>
			</div>

			<div class="col-md-2 col-sm-2 hidden-xs">
				<div class="row">
					<div class="socials">
						<a href="https://vk.com/vesna_apteka" target="_blank">
							<div class="socials__item">
								<i class="fa fa-vk" aria-hidden="true"></i>
							</div>
						</a>
						<a href="https://ok.ru/group/57366987472932" target="_blank">
							<div class="socials__item">
								<i class="fa fa-odnoklassniki" aria-hidden="true"></i>
							</div>
						</a>
						<a href="#" target="_blank">
							<div class="socials__item">
								<i class="fa fa-facebook" aria-hidden="true"></i>
							</div>
						</a>
						<a href="#" target="_blank">
							<div class="socials__item">
								<i class="fa fa-linkedin" aria-hidden="true"></i>
							</div>
						</a>
					</div>
				</div>
			</div>
			
			<div class="col-md-2 col-sm-2 hidden-xs col-xs-1 text-center">
				<a href="#first" class="scrollto">
					<div class="socials__item one__item">
						<i class="fa fa-chevron-up" aria-hidden="true"></i>
					</div>
				</a>
			</div>

			<div class="col-md-2 col-sm-2 col-xs-5 hidden-sm hidden-md hidden-lg text-left">
				<div class="row">
					<div class="socials">
						<a href="https://vk.com/vesna_apteka" target="_blank">
							<div class="socials__item">
								<i class="fa fa-vk" aria-hidden="true"></i></div></a>
						<a href="https://ok.ru/group/57366987472932" target="_blank">
							<div class="socials__item">
								<i class="fa fa-odnoklassniki" aria-hidden="true"></i>
							</div>
						</a>
						<a href="#" target="_blank">
							<div class="socials__item">
								<i class="fa fa-facebook" aria-hidden="true"></i>
							</div>
						</a>
						<a href="#" target="_blank">
							<div class="socials__item">
								<i class="fa fa-linkedin" aria-hidden="true"></i>
							</div>
						</a>
						<a href="#first" class="scrollto">
							<div class="socials__item">
								<i class="fa fa-chevron-up" aria-hidden="true"></i>
							</div>
						</a>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-sm-12 col-xs-7 text-right">
				<ul class="footer__contacts hidden-sm hidden-xs">
					<li class="contacts__item">
						<a href="tel:78124387696">+7 (812) 438-76-96</a>
					</li>
					<li class="contacts__item"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;196191, Санкт-Петербург,<br>Ленинский пр., 168, оф. 217, 219
					</li>
					<li class="contacts__item">
						<a href="mailto:info@vesna-apteka.ru"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;info@vesna-apteka.ru</a>
					</li>
				</ul>
				<ul class="footer__contacts hidden-md hidden-lg hidden-xs">
					<li class="contacts__item">
						<a href="tel:78124387696">+7 (812) 438-76-96</a>
					</li>
					<li class="contacts__item">
						<a href="mailto:info@vesna-apteka.ru"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;info@vesna-apteka.ru</a>
					</li>
					<li class="contacts__item"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;196191, Санкт-Петербург,<br>Ленинский пр., 168, оф. 217, 219
					</li>
				</ul>
				<ul class="footer__contacts hidden-md hidden-lg hidden-sm">
					<li class="contacts__item">
						<a href="tel:78124387696">+7 (812) 438-76-96</a>
					</li>
					<li class="contacts__item">
						<a href="mailto:info@vesna-apteka.ru"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;info@vesna-apteka.ru</a>
					</li>
					<li class="contacts__item"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;196191, Санкт-Петербург,<br>Ленинский пр., 168, оф. 217, 219
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer__down text-center">
		Copyright © 2013 - 2017	
	</div>
</footer>