<header>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="menu__top">
					<li class="menu__item">
						<a href="index.html"><img src="img/logo.png" alt="Логотип" class="logo img-responsive"></a>
					</li>
					<li class="menu__item">
						<div class="contacts">
							<a href="tel:88124387696" class="contacts__tel">8 (812) 438 76 96</a>
							<p>с 9:00 до 18:00 по мск</p>
							<a href="mailto:info@vesna-apteka.ru" class="contacts__mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;info@vesna-apteka.ru</a>
						</div>
					</li>
					<li class="menu__item hidden-sm hidden-xs">
						<div class="btn_transperent">
							<div class="enter">
								<div class="enter__img">
									<img src="img/icons/enter.png" alt="Иконка входа">
								</div>
								<div class="wrapper">
									<a href="#" class="enter__caption">Вход</a>
									<a href="#" class="enter__text">Регистрация</a>
								</div>
							</div>
						</div>
					</li>
					<li class="menu__item hidden-xs">
						<a class="btn__yellow hvr-ripple-in">Перейти к обучению</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="menu">
		<div class="container">
			<div class="row hidden-sm hidden-xs">
				<div class="col-md-12">
					<ul class="main__menu">
						<li class="menu__item">
							<a href="about.html">
								О нас
							</a>
							<div class="drop__menu first__menu animated fadeIn">
								<a href="about.html">Общая информация</a>
								<a href="about.html">«Весна» сегодня</a>
								<a href="about.html">Руководство</a>
							</div>
						</li>
						<li class="menu__item">
							<a href="for_pharmacies.html">
								Для аптек
							</a>
							<div class="drop__menu two__menu animated fadeIn">
								<a href="for_pharmacies.html">Общая информация</a>
								<a href="for_pharmacies.html">Для руководителей Аптек и АС</a>
								<a href="for_pharmacies.html">Презентация для аптек</a>
								<a href="for_pharmacies.html">Заказать звонок</a>
							</div>
						</li>
						<li class="menu__item">
							<a href="for_producers.html">
								Для производителей
							</a>
							<div class="drop__menu third__menu animated fadeIn">
								<a href="for_producers.html">Общая информация</a>
								<a href="for_producers.html">Информация для производителей</a>
								<a href="for_producers.html">Презентация для производителей</a>
							</div>
						</li>
						<li class="menu__item"><a href="for_formates.html">
							Для фармацевтов и провизоров
						</a></li>
						<li class="menu__item"><a href="news_1.html">
							Новости
						</a></li>
						<li class="menu__item">
							<a href="events.html">
								Мероприятия
							</a>
							<div class="drop__menu fourth_menu animated fadeIn">
								<a href="events.html">Региональные конференции</a>
								<a href="events.html">Тематические конференции</a>
								<a href="events.html">Обучающие семинары</a>
							</div>
						</li>
						<li class="menu__item"><a href="contacts.html">
							Контакты
						</a></li>
					</ul>
				</div>
			</div>	
		</div>
	</div>

	<div class="mob__menu hidden-lg hidden-md">
		<div class="hambur">
			<button class="hamburger hamburger--emphatic js-hamburger" type="		button" aria-label="Menu" aria-controls="navigation">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</button>
		</div>
		<div class="btn_transperent btn__hamburger">
			<div class="enter">
				<a href="#">
					<div class="enter__img">
						<img src="img/icons/enter_white.png" alt="Иконка входа">
					</div>
				</a>
				<a href="#" class="enter__caption hidden-xs">Вход</a>
				<a href="#" class="enter__text hidden-xs">Регистрация</a>
			</div>
		</div>

		<!-- hamburger-menu -->
		<nav class="text-left">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			  <div class="panel panel-default">
			    <div class="panel-heading " role="tab" id="headingOne">
			    	<div class="riangle"></div>
			    	 <h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						О нас</a>
					</h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body">
			      	<a href="about.html">Общая информация</a>
			       	<a href="about.html">«Весна» сегодня</a>
			       	<a href="about.html">Руководство</a>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingTwo">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			          Для аптек
			        </a>
			      </h4>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			      <div class="panel-body">
			       	<a href="for_pharmacies.html">Общая информация</a>
			       	<a href="for_pharmacies.html">Для руководителей Аптек и АС</a>
			       	<a href="for_pharmacies.html">Презентация для аптек</a>
			       	<a href="for_pharmacies.html">Заказать звонок</a>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			          Для производителей
			        </a>
			      </h4>
			    </div>
			    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        	<a href="for_producers.html">Общая информация</a>
				       	<a href="for_producers.html">Информация для производителей</a>
				       	<a href="for_producers.html">Презентация для производителей</a>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
			          <a href="for_formates.html" class="without__item">Для Фармацевтов и провизоров</a>
			        </a>
			      </h4>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
			          <a href="news_1.html" class="without__item">Новости</a>
			        </a>
			      </h4>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
			          Мероприятия
			        </a>
			      </h4>
			    </div>
			    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        	<a href="events.html">Региональные конференции</a>
				       	<a href="events.html">Тематические конференции</a>
				       	<a href="events.html">Обучающие семинары</a>
			      </div>
			    </div>
			  </div>
			   <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
			          <a href="contacts.html" class="without__item">Контакты</a>
			        </a>
			      </h4>
			    </div>
			  </div>
			</div>
		</nav>
		<a class="btn__yellow hidden-sm hidden-md hidden-lg hvr-ripple-in">Перейти к обучению</a>
	</div>
</header>