	<script src="js/vendor.js"></script>
	<!-- В файл vendor.js включены следующие скрипты -->
		<!-- JQuery-->
		<!-- <script src="js/jquery.min.js"></script>
		<script src="js/jquery-migrate-3.0.0.min.js"></script> -->

		<!-- Tabs-->
		<!-- <script src="js/tabs.js"></script> -->

		<!-- Bootstrap-->
		<!-- <script src="js/bootstrap.min.js"></script> -->

		<!-- Модальные окна-->
		<!-- <script src="js/jquery.arcticmodal-0.3.min.js"></script> -->
		<!-- <script src="js/jquery.magnific-popup.min.js"></script> -->

		<!-- Слайдер -->
		<!-- <script src="js/slick.js"></script> -->
	
		<!-- Parallax -->
		<!-- <script src="js/parallax.min.js"></script> -->
	
		<!--Waypoints -->
		<!-- <script src="js/waypoints.min.js"></script>
		<script src="js/animate-css.js"></script>
		<script src="js/wow.js"></script> -->

	<!-- Валидация -->
	<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>

	<!--Кастомные скрипты -->
	<script src="js/main.js"></script>

<!--Вёрстка /Каминский Дмитрий mail:webmaster@kaminskiydmitriy.com, skype: drakonfire -->