	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Ассоциация независимых аптек «ВЕСНА»">
	<meta name="keywords" content="Ассоциация независимых аптек «ВЕСНА» предлагает Вам централизованное заключение маркетинговых договоров с мелкосетевой и несетевой аптечной розницей на территории Российской Федерации, ассоциация независимых аптек «ВЕСНА» предлагает Вам централизованное заключение маркетинговых договоров с мелкосетевой и несетевой аптечной розницей на территории Российской Федерации">

	<!-- Фавикон -->
	<link rel="shortcut icon" href="img/favicon.png" type="image/png">

	<!-- meta социальные сети -->
	<meta name="twitter:title" content="Ассоциация независимых аптек «ВЕСНА»">
	<meta name="twitter:description" content="Ассоциация независимых аптек «ВЕСНА»">
	<meta name="twitter:image:src" content="http://vesna-apteka.ru/img/first_fon_1.jpg">
	<meta name="twitter:site" content="Ассоциация независимых аптек «ВЕСНА»">
	<meta property="og:type" content="website">
	<meta property="og:locale" content="ru_RU">
	<meta property="og:url" content="http://vesna-apteka.ru/">
	<meta property="og:site_name" content="Ассоциация независимых аптек «ВЕСНА»">
	<meta property="og:description" content="Ассоциация независимых аптек «ВЕСНА»">
	<meta property="og:title" content="Ассоциация независимых аптек «ВЕСНА»">
	<meta property="og:image" content="http://vesna-apteka.ru/img/first_fon_1.jpg">
	<meta property="og:image:width" content="604">
	<meta property="og:image:height" content="322">

	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#EDEDED">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#EDEDED">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#EDEDED">

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700&amp;subset=cyrillic-ext" rel="stylesheet">

	<title>Ассоциация независимых аптек «ВЕСНА»</title>

	<!-- Поддержка старыми IE6,7,8 элементров от HTML5 -->
	<script src="js/html5shiv.min.js"></script>

	<link rel="stylesheet" href="css/vendor.css">

	<!-- В файл vendor.css включены следующие файлы стилей плагинов-->
		<!-- Bootstrap-->
		<!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->

		<!-- Шрифтовые иконки Font-awesome-->
		<!-- <link rel="stylesheet" href="css/font-awesome.css"> -->

		<!-- Гамбургер-->
		<!-- <link rel="stylesheet" href="css/hamburgers.min.css"> -->

		<!-- Модальные окна -->
		<!-- <link rel="stylesheet" href="css/magnific-popup.css"> -->

		<!-- Слайдер Slick -->
		<!-- <link rel="stylesheet" href="сss/slick.css">
		<link rel="stylesheet" href="сss/slick-theme.css"> -->

		<!-- Анимация на сайте-->
		<!-- <link rel="stylesheet" href="css/animate.css"> -->

	<!-- Основной файл стилей -->
	<link rel="stylesheet" href="css/main.css">

	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#756b60">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#756b60">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#756b60">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->